* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI Web (East European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}